.panel {
	height: 100vh;
	width: 100%;
	overflow: hidden;
	display: inline-block;
	position: relative;
}

.vert-nav {
	position: fixed;
	z-index: 2;
	right: -30px;
	top: 50%;
	height: 100vh;
	width: 12px;	
	transform: translateY(-50%);
	transition: all 0.75s ease-out 6s;

	&.show {
		right: 0;
	}

	ul {
		padding: 0;
		margin: 0;
		height: 100%;

		li {
			width: 10px;
	    height: 20%;
	    display: inline-block;
	    padding: 0px;
	    margin: 0px 0;
	    position: relative;

			span {
	    	width: 10px;
		    height: 100%;
		    margin: 0px 0px;
		    background: $secondaryColor;
		    opacity: 0.25;
		    display: inline-block;
		    position: absolute;
		    padding: 0;
		    transition: 0.25s all ease-out;
		    cursor: pointer;

		    &:hover {
		    	opacity: 1;
		    }
	    }

	    &.active {

				span {
					transition: 0.4s all ease-out 0.15s;
			    background: $highlightColor;
			    opacity: 1;
				}
			}
	  }
	}
}

.sliding-panel {
	height: 100vh;
	width: 100%;
	position: absolute;
	color: #fff;
	z-index: 1;
	transition: all 0.25s ease-out;
	transition-delay: 0s;
	left: 0;
	right: 0;
	padding: 0 20px;
	overflow: hidden;
	display: inline-block;


	@include mobile {
		padding: 0;
	}

	&.hideTop {
		top: -100vh;
		transition-delay: 0.1s;
	}

	&.hideBottom {
		top: 100vh;
		transition-delay: 0.1s;
	}

	&.show {
		top: 0vh;
		transition-delay: 0s;
	}

	&.start-scroll {
		overflow-y: scroll;
	}
}

.panel-static {
	width: 100%;
	height: auto;
	max-width: 900px;
	display: inline-block;
	position: absolute;
	top: 44%;
	transform: translateY(-44%);
	left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 0px;

  @include mobile {

  }

  .static-inner {
		position: relative;
		transform: scale(0,0);

		&.load-content {
			transform: scale(1,1);
			transition: all 0.5s cubic-bezier(0.25,1.2,.75,1);
			transition-delay: 0.5s; 
		}
	}
}

.panel-wrapper {
	position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  height: 100vh;

	@include mobile {
		height: auto;
	}

}

span.logo {
	display: inline-block;
  width: 28px;
  height: 28px;
  position: relative;
  top: 3px;
  margin-right: 6px;
  transition: left 0.75s ease-out 2.5s;
  left: 193px;

  &.show {
  	left: 0%;
  }

  @include mobile {
  	top: 5px;
  	left: 95px;
  }
}

.logo-circle {
	width: 28px;
	height: 28px;
	fill:none;
	stroke: #fff;
	stroke-width: 5;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	stroke-dashoffset: 235;
	stroke-dasharray: 235;
	animation: drawCircle 2s ease-out forwards;
	animation-delay: 1s;
	@include prefixed(transform, rotateZ(-90deg));
	@include prefixed(transform-origin, center);
}

.logo-lines {
	fill:none;
	stroke:#fff;
	stroke-width:4;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-miterlimit:10;
	stroke-dashoffset: 0;
	stroke-dasharray: 0;
	animation: drawLines 0.75s ease-out forwards;
	animation-delay: 1.25s;
	opacity: 0;
}

@keyframes flyin {
	from {
		transform: translateX(-100px);
	}

	to {
		transform: translateX(0px);
	}
}	

@keyframes drawCircle {
	0% {
		stroke-dashoffset: 235;
		stroke: #fff;
	}

	55% {
		stroke: #fff;
	}

	80% {
		stroke-dashoffset: 0;
		stroke:$highlightColor;
		transform: rotateZ(1000deg);
	}

	100% {
		stroke-dashoffset: 0;
		stroke:$highlightColor;
		transform: rotateZ(1000deg);
	}
}	

@keyframes drawLines {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}	

.category-title {
	color: #fff;
  padding: 0;
  line-height: 12vh !important;
  margin: 0 auto;
  height: 12vh;
	cursor: pointer;
	font: 1.5em $font-extralight;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	
	span.logo {
		width: 25px;
		height: 25px;
    top: 5px;	
	}
}

.bg-image {
	// background: url(../assets/images/bg-image.png) 50% 100% no-repeat transparent;
	// background-size: cover;
	@include hacks();
	height: 100vh;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	position: fixed;
	overflow: hidden;
	top: 100vh;
	left: 0;
	right:0;
	margin: 0 auto;
	transition: transform .3s cubic-bezier(0.25, 1.1, .75, 1), top .3s ease-out .05s;
	transform: scale(0,0);

	&.load-image {
		transform: scale(1,1);
		top: 0;
	}

	@include mobile {
		//background: url(../assets/images/me.png) 50% 100% no-repeat transparent;
		background-size: 100%;
	}

	@include landscape {
		background-size: 60%;
	}
}

.enter {
	width: 100%;
	position: fixed;
	z-index: 1;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: -20px;
	text-align: center;
	visibility: hidden;
	opacity: 0;
	overflow: hidden;
	transition: .5s all ease-out;
	font: 0.8em $font-light;
	@include hacks();

	&.load-icon {
		visibility: visible;
		opacity: 1;
		bottom: 25px;
		transition: 0.5s all cubic-bezier(0.25,1, 0.5, 1) 5.5s;

		&.mobile {
			visibility: visible;
			opacity: 1;
			transition-delay: 0s;
		}
	}

	&.load-icon-instantly {
		visibility: visible;
		opacity: 1;
		bottom: 25px;
		transition: 0.01s all cubic-bezier(0.25,1, 0.5, 1) 0.35s;
	}

	.pipe {
		padding: 0 2px;
	}

	// &.hide {
	// 	bottom: -200px;
	// 	visibility: visible;
	// 	opacity: 1;
	// 	transform: scale(1,1);
	// }

	&:hover {

		span.text {
			visibility: visible;
			opacity: 1;
			top: 0;
			transform: scale(1,1);
		}

		span.icon {
			animation: none;
		}
	}

	span.text {
		color: #fff;	
		text-align: center;
		transition: all .4s ease-out !important;
		visibility: visible;
		opacity: 1;
		position: relative;
		top: 0px;
		transform: scale(1,1);
	}	

	span.icon {
		width: 28px;
		height: 28px;
		display: inline-block;
		margin-top: 10px;
		transform:translateY(0px);
		animation: bounce 3s infinite;
		@include hacks();
	}

	@include mobile {

		&.show {
			bottom: 25px;
			visibility: visible;
			opacity: 1;
			transform: scale(1,1);
		}
		
		span.text {
			transform: scale(1,1);
			opacity: 1;
			visibility: visible;
			top: 0;
		}
			
	}
}

.pipe {
	color: #fff;
	top: -1px;
	position: relative;
	font-family: $font-regular;
	padding: 0 8px;
}

.mobile-only {
  display: none;

  @include mobile {
    display: inline-block;
  }

  @include tablet {
    display: inline-block;
  }
}

.desktop-only {
  display: inline-block;

  @include mobile {
    display: none;
  }

  @include tablet {
    display: none;
  }
}

@keyframes bounce {
	50% {
  	transform:translateY(0px);
  }
  55% {
  	transform:translateY(-15px);
  }
  60% {
  	transform:translateY(-2px);
  }
  65% {
  	transform:translateY(-12px);
  }
  70% {
  	transform:translateY(-2px);
  }
  75% {
  	transform:translateY(-8px);
  }
  85% {
  	transform:translateY(0px);
  }
}