body {
  margin: 0;
  font: 16px $font-light;
  background: $primaryColor;

  @include mobile {
    font: 14px $font-light;    
  }
}

.container {
	position: relative;
  height: 100vh;
  overflow: hidden;

	@include mobile {
		overflow-x: hidden;
	}
}

.panel {
	height: 100vh;
	width: 100%;
	overflow: hidden;
	display: inline-block;
	//background: $primaryColor;
	position: relative;
}

.vert-nav {
	position: fixed;
	z-index: 2;
	right: 0px;
	top: 50%;
	height: 100vh;
	width: 10px;	
	transform: translateY(-50%);

	ul {
		padding: 0;
		margin: 0;
		height: 100%;

		li {
			width: 14px;
	    height: 20%;
	    display: inline-block;
	    padding: 0px;
	    margin: 0px 0;
	    position: relative;

			span {
	    	width: 8px;
		    height: 100%;
		    margin: 0px 0px;
		    background: $secondaryColor;
		    opacity: 0.25;
		    display: inline-block;
		    position: absolute;
		    padding: 0;
		    transition: 0.25s all ease-out;
		    cursor: pointer;

		    &:hover {
		    	opacity: 1;
		    }
	    }

	    &.active.panel1 {

				span {
			    background: $highlightColor;
			    opacity: 1;
				}
			}

			&.active.panel2 {

				span {
			    background: #fff;
			    opacity: 1;
				}
			}
	  }
	}
}

.sliding-panel {
	height: 100vh;
	width: 100%;
	position: absolute;
	color: #fff;
	z-index: 1;
	transition: all 0.35s ease-out;
	transition-delay: 0s;
	left: 0;
	right: 0;
	padding: 0 20px;
	//overflow: hidden;
	display: inline-block;

	@include mobile {
		padding: 0;
		overflow-x: hidden;
		overflow-y: hidden;
	}

	&.hide {
		top: -100vh;
	}

	&.show {
		top: 0vh;
	}

	&.start-scroll {
		overflow-y: scroll;
	}
}

.panel-static {
	width: 100%;
	height: auto;
	max-width: 900px;
	display: inline-block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 0px;

  @include mobile {

  }

  .static-inner {
		position: relative;
		transform: scale(0,0);

		&.load-content {
			transform: scale(1,1);
			transition: all 0.4s cubic-bezier(0.25,1.6,.75,1);
			transition-delay: 1s; 
		}
	}
}

.panel-wrapper {
	position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  height: 100vh;

	@include mobile {
		height: auto;
	}

}

span.logo {
	display: inline-block;
  width: 28px;
  height: 28px;
  position: relative;
  top: 3px;
  margin-right: 6px;
  transition: left 0.75s ease-out 3s;
  left: 193px;

  &.show {
  	left: 0%;
  }

  @include mobile {
  	top: 5px;
  	left: 95px;
  }
}

.logo-circle {
	fill:none;
	stroke: #fff;
	stroke-width:5;
	stroke-linecap:round;
	stroke-miterlimit:10;
	stroke-dashoffset: 235;
	stroke-dasharray: 235;
	animation: dash 1s ease-out forwards;
	animation-delay: 1.75s;
	transform: rotateZ(-90deg);
	transform-origin: center;
}

.logo-lines {
	fill:none;
	stroke:#fff;
	stroke-width:4;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-miterlimit:10;
	stroke-dashoffset: 0;
	stroke-dasharray: 0;
	animation: dashline 0.75s ease-out forwards;
	animation-delay: 2.5s;
	opacity: 0;
	border-image:
      linear-gradient(to bottom, black, rgba(0, 0, 0, 0)) 1 100%;
}

@keyframes flyin {
	from {
		transform: translateX(-100px);
	}

	to {
		transform: translateX(0px);
	}
}	

@keyframes dash {
	0% {
		stroke-dashoffset: 235;
		stroke: #fff;
	}

	75% {
		stroke: #fff;
	}

	100% {
		stroke-dashoffset: 0;
		stroke:$highlightColor;
	}
}	

@keyframes dashline {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}	

.category-title {
	color: #fff;
  padding: 0;
  line-height: 20vh !important;
  margin: 0 auto;
  height: 20vh;
	cursor: pointer;
	font: 1.5em $font-light;
	text-align: center;
	font-weight: bold;
	
	span.logo {
		width: 28px;
		height: 28px;
    top: 8px;	
	}
}

.bg-image {
	//background: url(../assets/images/me.png) 50% 100% no-repeat transparent;
	background-size: 70%;
	@include hacks();
	height: 100vh;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	position: fixed;
	overflow: hidden;
	top: 100vh;
	left: 0;
	right:0;
	margin: 0 auto;
	transition: transform .3s cubic-bezier(0.25, 1.1, .75, 1), top .3s ease-out .05s;
	transform: scale(0,0);

	&.load-image {
		transform: scale(1,1);
		top: 0;
	}

	@include mobile {
		//background: url(../assets/images/me.png) 50% 100% no-repeat transparent;
		background-size: 100%;
	}

	@include landscape {
		background-size: 60%;
	}
}

.enter {
	width: 200px;
	position: fixed;
	z-index: 1;
	left: 0;
	right: 0;
	margin: 0 auto;
	//cursor: pointer;
	bottom: -200px;
	text-align: center;
	visibility: hidden;
	opacity: 0;
	transform: scale(1,1);
	overflow: hidden;
	transition: .4s all ease-out;
	font: 1em $font-light;

	&.load-icon {
		visibility: visible;
		opacity: 1;
		bottom: 15px;
		transform: scale(1,1);
		transition: .4s all cubic-bezier(.25,1.5,.5, 1) 4.8s;
	

		&.mobile {
			visibility: visible;
			opacity: 1;
			transform: scale(1,1);
			transition-delay: 0s;
		}
	}

	// &.hide {
	// 	bottom: -200px;
	// 	visibility: visible;
	// 	opacity: 1;
	// 	transform: scale(1,1);
	// }

	&:hover {

		span.text {
			visibility: visible;
			opacity: 1;
			top: 0;
			transform: scale(1,1);
		}

		span.icon {
			animation: none;
		}
	}

	span.text {
		color: #fff;	
		text-align: center;
		transition: all .4s ease-out !important;
		visibility: hidden;
		opacity: 0;
		position: relative;
		top: -8px;
		transform: scale(0,0);
	}	

	span.icon {
		width: 28px;
		height: 28px;
		display: inline-block;
		margin-top: 10px;
		transform:translateY(0px);
		animation: bounce 3s infinite;
		@include hacks();
	}

	

	@include mobile {

		&.show {
			bottom: 25px;
			visibility: visible;
			opacity: 1;
			transform: scale(1,1);
		}
		
		span.text {
			transform: scale(1,1);
			opacity: 1;
			visibility: visible;
			top: 0;
		}
			
	}
}

.mobile-only {
  display: none;

  @include mobile {
    display: inline-block;
  }
}

@keyframes bounce {
	20% {
  	transform:translateY(0px);
  }
  25% {
  	transform:translateY(-15px);
  }
  30% {
  	transform:translateY(-2px);
  }
  35% {
  	transform:translateY(-12px);
  }
  40% {
  	transform:translateY(-2px);
  }
  45% {
  	transform:translateY(-8px);
  }
  55% {
  	transform:translateY(0px);
  }
}