.panel {
	height: 100vh;
	width: 100%;
	overflow: hidden;
	display: inline-block;
	position: relative;
}

.vert-nav {
	position: absolute;
	z-index: 3;
	right: -30px;
	top: 0;
	height: 100vh;
	width: 32px;
	@include prefixed(transition, all 0.5s ease-out 3.5s);
	@include hacks();

	&.show {
		right: 0;
	}

	ul {
		padding: 0;
		margin: 0;
		display: block;
		height: 100%;

		li {
			width: 32px;
	    height: 20vh;
	    height:unquote("calc( 20vh - 2px )");
	    display: inline-block;
	    padding: 0px;
	    margin: 0px 0 4px;
	    position: relative;
	    @include hacks();

	    &:last-child {
	    	margin: 0;
	    }

			span {
	    	width: 10px;
		    height: 100%;
		    margin: 0px 0px;
		    background: $secondaryColor;
		    opacity: 0.15;
		    display: inline-block;
		    position: absolute;
		    right: 0;
		    padding: 0;
		    @include prefixed(transition, 0.25s all ease-out);
		    @include hacks();
		    cursor: pointer;
		    -webkit-tap-highlight-color: transparent;

		    &:hover {
		    	@include desktop {
		    		opacity: 0.25;	
		    	}
		    	
		    }
	    }

	    &.active {

				span {
					@include prefixed(transition, 0.4s all ease-out 0.15s);
			    background: $highlightColor;
			    opacity: 1;
				}
			}
	  }
	}
}

.sliding-panel {
	height: 100vh;
	width: 100%;
	position: absolute;
	color: #fff;
	z-index: 1;
	@include prefixed(transition, all 0.25s ease-out 0s);
	@include hacks();
	left: 0;
	right: 0;
	padding: 0 20px;
	overflow: hidden;
	display: inline-block;
	@include box-sizing(border-box);

	&.start-scroll {
		overflow-y: scroll;
	}

	&.fade-in {
		opacity: 1 !important;
		visibility: visible;
		@include prefixed(transition, 0.25s all ease-out 0.4s);
		@include hacks();
		z-index: 2;
	}

	&.fade-out {
		opacity: 0;
		visibility: hidden;
		@include prefixed(transition, 0.25s all ease-out 0s);
		@include hacks();
		z-index: 1;
	}
}

.panel-static {
	width: 100%;
	height: auto;
	max-width: 900px;
	display: inline-block;
	position: absolute;
	top: 36vh;
	left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 0px;
  visibility: visible;
  @include hacks();

  @include mobile {
  	top: 27vh;
  }

  .static-inner {
		position: relative;
		transform: scale(0,0);

		&.load-content {
			transform: scale(1,1);
			@include prefixed(transition, all 0.5s ease-out 0.5s);
			@include hacks();
		}
	}
}

.panel-wrapper {
	position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  height: 100vh;
  visibility: visible;

	@include mobile {
		height: auto;
	}

}

span.logo {
	display: inline-block;
  width: 28px;
  height: 28px;
  position: relative;
  top: 6px;
  margin-right: 6px;
  left: 47%;

  &.show {
  	@include prefixed(transition, 0.4s all ease-out 2s);
  	left: 0%;
  }

  @include mobile {
  	top: 7px;
		width: 26px;
		height: 26px;
		margin-right: 4px;
  	left: 39%;
  }
}

.logo-circle {
	width: 28px;
	height: 28px;
	fill:none;
	stroke: #fff;
	stroke-width: 5;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	stroke-dashoffset: 235;
	stroke-dasharray: 235;
	animation: drawCircle 1.5s ease-out forwards;
	animation-delay: 1s;
	@include prefixed(transform, rotateZ(-90deg));
	@include prefixed(transform-origin, 8px 16px);
}

.logo-lines {
	fill:none;
	stroke:#fff;
	stroke-width:4;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-miterlimit:10;
	stroke-dashoffset: 0;
	stroke-dasharray: 0;
	animation: drawLines 0.75s ease-out forwards;
	animation-delay: 1.25s;
	opacity: 0;
}

@keyframes flyin {
	from {
		transform: translateX(-100px);
	}

	to {
		transform: translateX(0px);
	}
}	

@keyframes drawCircle {
	0% {
		stroke-dashoffset: 235;
		stroke: #fff;
	}

	55% {
		stroke: #fff;
	}

	80% {
		stroke-dashoffset: 0;
		stroke:$highlightColor;
		transform: rotateZ(1000deg);
	}

	100% {
		stroke-dashoffset: 0;
		stroke:$highlightColor;
		transform: rotateZ(1000deg);
	}
}	

@keyframes drawLines {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}	

.category-title {
	color: #fff;
  padding: 0;
  line-height: 12vh !important;
  margin: 0 auto;
  height: 12vh;
	font: 1.5em $font-extralight;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	visibility: visible;
	
	span.logo {
		width: 25px;
		height: 25px;
    top: 5px;	
	}
}

.bg-image {
	@include hacks();
	height: 100vh;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	position: fixed;
	overflow: hidden;
	top: 100vh;
	left: 0;
	right:0;
	margin: 0 auto;
	@include prefixed(transition, transform 0.3s ease-out);
	@include prefixed(transition, top .3s ease-out .05s);
	transform: scale(0,0);

	&.load-image {
		transform: scale(1,1);
		top: 0;
	}

	@include mobile {
		background-size: 100%;
	}

	@include landscape {
		background-size: 60%;
	}
}

.enter {
	width: 100%;
	position: fixed;
	z-index: 1;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: -20px;
	text-align: center;
	visibility: hidden;
	opacity: 0;
	overflow: hidden;
	@include prefixed(transition, 0.5s all ease-out);
	font: 0.95em $font-light;
	@include hacks();

	&.load-icon {
		visibility: visible;
		opacity: 1;
		bottom: 25px;
		@include prefixed(transition, 0.35s all ease-out 3.2s);

		&.mobile {
			visibility: visible;
			opacity: 1;
			@include prefixed(transition, 0.35s all ease-out 0s);
		}
	}

	&.load-icon-instantly {
		visibility: visible;
		opacity: 1;
		bottom: 25px;
		@include prefixed(transition, 0.35s all ease-out 0.35s);
	}

	.pipe {
		padding: 0 2px;
		color: $blueThin;
	}

	&:hover {

		span.text {
			visibility: visible;
			opacity: 1;
			top: 0;
			transform: scale(1,1);
		}

		span.icon {
			animation: none;
		}
	}

	span.text {
		color: #fff;
		text-align: center;
		@include prefixed(transition, all .4s ease-out !important);
		@include hacks();
		visibility: visible;
		opacity: 1;
		position: relative;
		top: 0px;
		transform: scale(1,1);

		.white {
			color: #fff;
		}
	}	

	span.icon {
		width: 28px;
		height: 28px;
		display: inline-block;
		margin-top: 10px;
		animation: bounce 3s infinite;
		@include hacks();
	}

	@include mobile {

		&.show {
			bottom: 25px;
			visibility: visible;
			opacity: 1;
			transform: scale(1,1);
		}
		
		span.text {
			transform: scale(1,1);
			opacity: 1;
			visibility: visible;
			top: 0;
		}
			
	}
}

.pipe {
	color: #fff;
	top: -1px;
	position: relative;
	font-family: $font-regular;
	padding: 0 8px;
}

.mobile-only {
  display: none !important;

  @include mobile {
    display: inline-block !important;
  }
}

.desktop-only {
  display: inline-block !important;

  @include mobile {
    display: none !important;
  }
}

@keyframes bounce {
	50% {
  	transform:translateY(0px);
  }
  55% {
  	transform:translateY(-15px);
  }
  60% {
  	transform:translateY(-2px);
  }
  65% {
  	transform:translateY(-12px);
  }
  70% {
  	transform:translateY(-2px);
  }
  75% {
  	transform:translateY(-8px);
  }
  85% {
  	transform:translateY(0px);
  }
}