.fifth-panel {

	h2 {

		.logo {
			left: 0;
		}
	}

  h3 {
  	color: #fff;
  	font-size: 1.25em;
  	font-family: $font-light;
  	margin-top: 10px;

  	@include mobile {
  		margin-top: 0;
  	}
  }

  .block {
  	display: inline-block;
  	@include box-sizing(border-box);
  	width: 100%;
  	margin-bottom: 10px;

  	@include mobile {
  		width: 100%;
  	}

  	&.left {
  		
  	}

  	&.right {
  		

      .social {
        li {
          padding: 0 32px 0 0;
          max-width: 84px;
          width: 25%;

          @include mobile {
            padding: 0 32px 0 0;
            max-width: 72px;
          }

          a {
            cursor: pointer;
            position: relative;

            .so-rep {
              position: absolute;
              background: #ff9c00;
              border-radius: 50%;
              width: 17px;
              height: 17px;
              color: #fff;
              font-size: 11px;
              display: block;
              padding: 1px 4px;
              box-sizing: border-box;
              bottom: 0;
              left: 50%;
              font-weight: bold;
            }
          }
        }
      }
    }
  }

  .special-note {
  	display: inline-block;
    padding-bottom: 24px;

  	p {
    	color: $blueThin;
    	font-weight: bold;
    	margin: 0;
      text-transform: uppercase;

    	@include mobile {
    		font-size: 16px;
    		line-height: 24px;
    	}
  	}
  }
	
 	.info-block {
 		display: inline-block;
 		width: 100%;
 		@include box-sizing(border-box);
 		float: left;

 		p {
   		text-align: left;

   		@include mobile {
   			font-size: 13px;
   		}
		}
 	}

 	.social {
 		width: 100%;
 		display: block;

 		ul {
 			padding: 0;
 			display: inline-block;
 			width: 100%;
 			margin-top: 0px;
      margin-bottom: 10px;
 		}

 		li {
 			float: left;
 			width: 100%;
      padding: 0 0px;
 			@include box-sizing(border-box);
 			display: inline-block;
 			text-align: left;
 			list-style-type: none;
 			color: $blueThin;
	  	text-transform: uppercase;
	  	font-weight: bold;

	  	@include mobile {
	  		margin: 0 0 5px;
	  	}

	  	a {
	  		color: $blueThin;
	  	}
 			.definition {
	  		color: #fff;
	  	}
 		}
 	}


  p {
  	padding: 0px 0px 0px;
  	font: 1em $font-light;
  	width: 100%;
    float: left;
    text-align: left;
    display: inline-block;
    margin: 0;
    @include box-sizing(border-box);

  	@include mobile {
  		padding: 0px 0px;
  		width: 100%;
  	}

  	

  	&.clickable {
  		color: #fff;
  		padding: 0 0 10px;
  	}
  }

  .align-right {
		text-align: left;
    padding: 0px 0px 10px;
    display: inline-block;
    width: 100%;
    color: #fff;

    p {
    	text-align: left;
    }
	}

}