.fifth-panel {

	h2 {

		.logo {
			left: 0;
		}
	}

  h3 {
  	color: #fff;
  	font-size: 1.25em;
  	font-family: $font-light;
  	margin-top: 10px;

  	@include mobile {
  		margin-top: 0;
  	}
  }

  .block {
  	display: inline-block;
  	@include box-sizing(border-box);
  	width: 100%;

  	@include mobile {
  		width: 100%;
  	}

  	&.left {
  		float: left;
  	}

  	&.right {
  		float: right;
  	}
  }

  .inner-wrap {
  	width: 100%;
    //max-width: 1000px;
    display: block;
    text-align: left;
    margin: 0 auto;
    font-size: 21px;
    color: #fff;
    //min-height: 100px;

    @include mobile {
    	font-size: 16px;
    }

    &.special-note {
    	min-height: 180px;

    	p {
	    	color: $blueThin;
	    	font-weight: bold;
	    	margin: 0;
	    	line-height: 1.625em;
    	}
    }
	}

 	.info-block {
 		display: inline-block;
 		width: 100%;
 		@include box-sizing(border-box);
 		float: left;

 		p {
   		text-align: left;

   		@include mobile {
   			font-size: 13px;
   		}
		}
 	}

 	.social {
 		width: 100%;
 		display: block;

 		ul {
 			padding: 0;
 		}

 		li {
 			float: left;
 			width: 100%;
 			@include box-sizing(border-box);
 			display: inline-block;
 			text-align: left;
 			list-style-type: none;
 			color: $blueThin;
	  	text-transform: uppercase;
	  	font-weight: bold;

	  	@include mobile {
	  		margin: 0 0 5px;
	  	}

	  	a {
	  		color: $blueThin;
	  	}
 			.definition {
	  		color: #fff;
	  	}
 		}
 	}


  p {
  	padding: 0px 0px 15px;
  	font: 1em $font-light;
  	width: 100%;
    float: left;
    text-align: left;
    display: inline-block;
    margin: 0;
    @include box-sizing(border-box);

  	@include mobile {
  		padding: 5px 0px;
  		width: 100%;
  	}

  	

  	&.clickable {
  		color: #fff;
  		padding: 0 0 10px;
  	}
  }

  .align-right {
		text-align: left;
    padding: 0px 0px 10px;
    display: inline-block;
    width: 100%;
    color: #fff;

    p {
    	text-align: left;
    }
	}

  .skills {
  	width: 100%;
		max-width: 1000px;
		display: inline-block;
		position: absolute;
		top: 67%;
		transform: translateY(-67%);
		left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;

    @include mobile {
    	height: auto;
    	position: relative;
    	margin-bottom: 124px;
    	top: 0;
    	transform: translateY(0%);
    	font-size: 13px;
    }



		ul {
			margin: 50px auto 0;
			padding: 0;
			display: block;
			width: 100%;

			@include mobile {
				margin: 20px auto 0;
			}

			&:last-child {

				li {
					&:first-child {
						border-top-left-radius: 0px;
						border-bottom-left-radius: 10px;

						@include mobile {
							border-radius: 0;
						}
					}

					&:last-child {
						border-top-right-radius: 0px;
						border-bottom-right-radius: 10px;

						@include mobile {
							border-radius: 0;
						}
					}

				}
			}

			li {
				display: inline-block;
				opacity: 0;
				visibility: hidden;
				height: 12vh;
				height:unquote("calc( 12vh - #{$space} )");
				float: left;
				background: rgba(0,90,120, 0.75);
				transition: 0.1s all ease-out 0s;
				width: unquote("calc( #{$varW} - #{$space} )");
    		margin: 0 1px 2px;
				color: #fff;
				padding: 0 0px;
				vertical-align: middle;
				line-height: 12vh;
				position: relative;
				overflow: hidden;
				-webkit-tap-highlight-color: transparent;
				top: 200px;
				@include hacks();

				&.show-li {
					opacity: 1;
					visibility: visible;
					top: 0;
					transition: 0.41s all ease-out 0s;
				}

				@include mobile {
					width: 50%;
					margin: 0 1px 2px;
					transition: all 0s ease-out 0s;
					height:unquote("calc( 12vh - #{$space} )");
					width:unquote("calc( 50% - 1px )");
					

					&:nth-child(odd) {
						margin-left: 0;
					}

					&:nth-child(even) {
						margin-right: 0;
					}

				}

				@include landscape {
					line-height: 24vh;
					height:unquote("calc( 24vh - #{$space} )");
				}

				&:first-child {
					margin-left: 0;
					border-top-left-radius: 10px;

					@include mobile {
						border-radius: 0;
					}
				}

				&:last-child {
					margin-right: 0;
					border-top-right-radius: 10px;

					@include mobile {
						border-radius: 0;
					}
				}
			}
		}
	}

}