.fourth-panel {
  
	h2 {

		.logo {
			left: 0;
		}
	}


	.what-is-front-end-development {
		width: 100%;
		//max-width: 1000px;
		display: inline-block;
		position: absolute;
		top: 22.5%;
		transform: translateY(-22.5%);
		left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    

    @include mobile {
    	height: 100%;
    	position: relative;
    	top: 0;
    	transform: translateY(0);
    	
    }

    h3 {
    	color: #fff;
    	font-size: 1.25em;
    	font-family: $font-light;
    	margin-top: 10px;
    	font-weight: bold;

    	@include mobile {
    		margin-top: 0;
    	}
    }

    p.definition {
    	color: #fff;
    	font-size: 1em;
    	padding: 5px 150px 10px;

    	@include mobile {
    		padding: 5px 20px 10px;
    	}
    }
  }

  .bios {
  	width: 100%;
		//max-width: 1000px;
		display: block;
		left: 0;
    right: 0;
    text-align: left;
    margin: 0 auto;
    font-size: 21px;

    @include mobile {
    	height: auto;
    	position: relative;
    	margin-bottom: 0;
    	top: 0;
    	transform: translateY(0%);
    	font-size: 16px;
    }

		ul {
			margin: 0px auto 0;
			padding: 0;
			display: inline-block;
			width: 100%;

			@include mobile {
				margin: 0px auto 0;
			}

			&:last-child {

				li {
					&:first-child {
						border-top-left-radius: 0px;
						border-bottom-left-radius: 10px;

						@include mobile {
							border-radius: 0;
						}
					}

					&:last-child {
						border-top-right-radius: 0px;
						border-bottom-right-radius: 10px;

						@include mobile {
							border-radius: 0;
						}
					}

				}
			}

			li {
				@include box-sizing(border-box);
				display: inline-block;
				opacity: 1;
				float: left;
				transition: 0.1s all ease-out 0s;
				width: 100%;
		    margin: 0 0px 0;
		    color: #fff;
		    padding: 0 0px 8px;
				vertical-align: middle;
				position: relative;
				overflow: hidden;
				-webkit-tap-highlight-color: transparent;
				@include hacks();
				font-size: 1em;
				text-transform: uppercase;
				text-align: left;

				@include mobile {
				}

				.inner-box {

					.bio-icon {
						display: inline-block;
				    width: 20px;
				    height: 20px;
				    position: relative;
				    top: 4px;

				    @include mobile {
				    	width: 16px;
				    	height: 16px;
				    }

				    .bio-icon-inner {
							fill: #fff;
						}

				    .bio-icon-circle {
							fill: $highlightColor;
						}

						&.left {
							margin-right: 6px;
						}

						&.right {
							margin-left: 6px;
						}

						.bio-icon-svg {
							fill: #fff;
						}
					}
					
				}

				&:nth-child(odd) {
					//text-align: center;
					//border-right: 1px solid rgba(255,255,255,0.5);
				}

				&.show-li {
					opacity: 1;
					top: 0;
					transition: 0.41s all ease-out 0s;
				}

				@include mobile {
					transition: all 0s ease-out 0s;
				}

				.reveal {
					color: $blueThin;
					font-weight: bold;
				}

				&:first-child {
					border-top-left-radius: 10px;

					@include mobile {
						border-radius: 0;
					}
				}

				&:last-child {
					border-top-right-radius: 10px;

					@include mobile {
						border-radius: 0;
					}
				}
			}
		}
	}
}