.fourth-panel {
	//top: 100vh;
	// background:  url(../assets/images/bg-image4.png) 50% 50% no-repeat transparent;
	// background-size: cover;

	h2 {
		// color: #fff;
		// font-family: $font-regular;

		.logo {
			left: 0;
		}
	}


	.what-is-front-end-development {
		width: 100%;
		max-width: 1000px;
		display: inline-block;
		position: absolute;
		top: 22.5%;
		transform: translateY(-22.5%);
		left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    

    @include mobile {
    	height: 100%;
    	position: relative;
    	top: 0;
    	transform: translateY(0);
    	
    }

    h3 {
    	color: #fff;
    	font-size: 1.25em;
    	font-family: $font-light;
    	margin-top: 10px;
    	font-weight: bold;

    	@include mobile {
    		margin-top: 0;
    	}
    }

    p.definition {
    	color: #fff;
    	font-size: 1em;
    	padding: 5px 150px 10px;

    	@include mobile {
    		padding: 5px 20px 10px;
    	}
    }
  }

  .bios {
  	width: 100%;
		max-width: 480px;

		display: block;
		// position: absolute;
		// top: 0%;
		// transform: translateY(0%);
		left: 0;
    right: 0;
    text-align: left;
    margin: 0 auto;
    font-size: 16px;

    @include mobile {
    	height: auto;
    	position: relative;
    	margin-bottom: 0;
    	top: 0;
    	transform: translateY(0%);
    	font-size: 13px;
    }

		ul {
			margin: 0px auto 0;
			padding: 0;
			display: inline-block;
			width: 100%;

			@include mobile {
				margin: 0px auto 0;
			}

			&:last-child {

				li {
					&:first-child {
						border-top-left-radius: 0px;
						border-bottom-left-radius: 10px;

						@include mobile {
							border-radius: 0;
						}
					}

					&:last-child {
						border-top-right-radius: 0px;
						border-bottom-right-radius: 10px;

						@include mobile {
							border-radius: 0;
						}
					}

				}
			}

			li {
				@include box-sizing(border-box);
				display: inline-block;
				opacity: 1;
				//visibility: hidden;
				// height: 12vh;
				// height:unquote("calc( 12vh - #{$space} )");
				float: left;
				//background: $highlightColor;
				transition: 0.1s all ease-out 0s;
				//width: unquote("calc( #{$varW} - #{$space} )");
				width: 50%;
		    margin: 0 0px 12px;
		    color: #fff;
		    padding: 0 10px 0px;
				vertical-align: middle;
				//line-height: 12vh;
				position: relative;
				overflow: hidden;
				-webkit-tap-highlight-color: transparent;
				//top: 200px;
				@include hacks();
				font-size: 1em;
				text-transform: uppercase;

				&:nth-child(odd) {
					text-align: right;
					border-right: 1px solid rgba(255,255,255,0.5);
				}

				&.show-li {
					opacity: 1;
					//visibility: visible;
					top: 0;
					transition: 0.41s all ease-out 0s;
				}

				@include tablet {
					//height: 12vh;
					//height:unquote("calc( 12vh - #{$space} )");
					//line-height: 12vh;
				}

				@include mobile {
					//width: 50%;
					//margin: 0 1px 2px;
					transition: all 0s ease-out 0s;
					//height:unquote("calc( 12vh - #{$space} )");
					//width:unquote("calc( 50% - 1px )");

					&:nth-child(even) {
						//margin-right: 0;
					}
				}

				.initial {
					color: $highlightColor;
				}

				@include landscape {
					//line-height: 24vh;
					//height:unquote("calc( 24vh - #{$space} )");
				}

				&:first-child {
					//margin-left: 0;
					border-top-left-radius: 10px;

					@include mobile {
						border-radius: 0;
					}
				}

				&:last-child {
					//margin-right: 0;
					border-top-right-radius: 10px;

					@include mobile {
						border-radius: 0;
					}
				}
			}
		}
	}
}