.second-panel {
	color: $primaryColor;

	.logo-circle {
		stroke: #fff;
	}
	.logo-lines {
		stroke: #fff;
	}

	h2 {
		.logo {
			left: 0;
		}
	}

	.inner-wrap {
		

    @include mobile {
    	height: auto;
    	position: relative;
    	top: 0px;
    	transform: translateY(0%);
    	font-size: 16px;
    } 

		ul {
			margin: 0px auto 10px;
			padding: 0;
			display: inline-block;
			width: 100%;

			&:last-child {

				li {
					&:first-child {
						border-top-left-radius: 0px;
						border-bottom-left-radius: 10px;

						@include mobile {
							border-radius: 0;
						}
					}

					&:last-child {
						border-top-right-radius: 0px;
						border-bottom-right-radius: 10px;

						@include mobile {
							border-radius: 0;
						}
					}

				}
			}

			> li {
				display: block;
				width: 100%;
				opacity: 1;
				visibility: visible;
				float: left;
				color: $blueThin;
				padding: 0px;
				margin: 0 0px;
				text-transform: uppercase;
				font-weight: bold;
				text-align: left;
				@include box-sizing(border-box);

				@include mobile {
					width: 100%;
					text-align: left;
				}

				p {
					margin: 0;
				}

				.icon {
					width: 32px;
			    height: 32px;
			    display: inline-block;
			    background-size: 100%;
			    margin: 0px 10px 0 0;
			    position: relative;
			    top: 0px;
			    vertical-align: top;

			    @include mobile {
			    	top: 2px;
				    width: 15px;
				    height: 15px;
				    margin-right: 5px;
			    }
				}

				.icon-circle {
					fill: #67CEF6;
				}

				.icon-logo {
					fill: #fff;
				}


				> ul {
					display: inline-block;
					margin-top: 0px;
					margin-left: 0;

					@include mobile {
						margin-top: 2px;
					}

					>li {
						display: inline-block;
						margin-left: 19px;
						color: #fff;
						padding: 0;
						text-transform: inherit;
						width: 100%;
						font-weight: normal;
						transition: 0.15s all ease-in;

						@include mobile {
							margin-left: 0px;
						}

						a, a:hover, a:focus, a:visited {
							color: #fff;
							transition: 0.2s all ease-in 0s;
							position: relative;
							left: 0;

							@include mobile {
								left: 3px;
							}

							&:before {
								content: '';
						    background: url(../assets/images/portfolio/plus.svg);
						    width: 20px;
						    height: 20px;
						    display: inline-block;
						    background-size: 100%;
						    margin: 0px 4px 0 0;
						    position: relative;
						    top: 3px;
						    opacity: 0;
						    left: -10px;
						    transition: 0.3s all ease-out 0.05s;

						    @include mobile {
									width: 15px;
									height: 15px;
									top: 2px;
								}
							}

							&:hover {
								color: $blueThin;
								font-weight: bold;
								transition: 0.3s all ease-in 0.1s, 0.3s color ease-out 0.2s;
								left: 23px;

								@include mobile {
									left: 20px;
								}

								&:before {
									content: '';
							    background: url(../assets/images/portfolio/plus.svg);
							    width: 20px;
							    height: 20px;
							    display: inline-block;
							    background-size: 100%;
							    margin: 0px 4px 0 0;
							    position: relative;
							    top: 3px;
							    opacity: 1;
							    left: 0;
							    transition: 0.3s all ease-out 0.1s;

							    @include mobile {
										width: 15px;
										height: 15px;
										top: 2px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}