.second-panel {
	color: $primaryColor;

	.logo-circle {
		stroke: #fff;
	}
	.logo-lines {
		stroke: #fff;
	}

	h2 {
		.logo {
			left: 0;
		}
	}

	.projects-list {
		width: 100%;
		max-width: 600px;
		display: block;
    text-align: left;
    margin: 0 auto;
    font-size: 16px;
    color: #fff;

    @include mobile {
    	height: auto;
    	position: relative;
    	top: 0px;
    	transform: translateY(0%);
    	font-size: 13px;
    } 

		ul {
			margin: 0px auto 12px;
			padding: 0;
			display: inline-block;
			width: 100%;

			&:last-child {

				li {
					&:first-child {
						border-top-left-radius: 0px;
						border-bottom-left-radius: 10px;

						@include mobile {
							border-radius: 0;
						}
					}

					&:last-child {
						border-top-right-radius: 0px;
						border-bottom-right-radius: 10px;

						@include mobile {
							border-radius: 0;
						}
					}

				}
			}

			> li {
				display: block;
				width: 100%;
				opacity: 1;
				visibility: visible;
				float: left;
				color: $blueThin;
				padding: 0px;
				margin: 0 5px;
				text-transform: uppercase;
				font-weight: bold;
				text-align: left;
				@include box-sizing(border-box);

				@include mobile {
					width: 100%;
					text-align: left;
				}

				p {
					margin: 0;
				}

				.icon {
					width: 16px;
			    height: 16px;
			    display: inline-block;
			    background-size: 100%;
			    margin: 0px 3px 0 0;
			    position: relative;
			    top: 3px;
			    vertical-align: top;

			    @include mobile {
			    	top: 2px;
			    	width: 13px;
			    	height: 13px;
			    }
				}

				.icon-circle {
					fill: #67CEF6;
				}

				.icon-logo {
					fill: #fff;
				}


				> ul {
					display: inline-block;
					margin-left: 0px;
					padding-bottom: 15px;
					margin-top: 4px;

					@include mobile {
						margin-left: 0;
						padding-bottom: 0;
					}

					>li {
						display: inline-block;
						margin-left: 3px;
						color: #fff;
						padding: 0;
						text-transform: inherit;
						width: 100%;
						font-weight: normal;
						transition: 0.15s all ease-in;

						@include mobile {
							margin-left: 0px;
						}

						a, a:hover, a:focus, a:visited {
							color: #fff;
							transition: 0.2s all ease-in 0s;
							position: relative;
							left: 0;

							&:before {
								content: '';
						    background: url(../assets/images/portfolio/plus.svg);
						    width: 13px;
						    height: 13px;
						    display: inline-block;
						    background-size: 100%;
						    margin: 0px 4px 0 0;
						    position: relative;
						    top: 2px;
						    opacity: 0;
						    left: -10px;
						    transition: 0.3s all ease-out 0.05s;
							}

							&:hover {
								color: $blueThin;
								transition: 0.3s all ease-in, 0.3s color ease-out 0.1s;
								left: 16px;

								&:before {
									content: '';
							    background: url(../assets/images/portfolio/plus.svg);
							    width: 13px;
							    height: 13px;
							    display: inline-block;
							    background-size: 100%;
							    margin: 0px 4px 0 0;
							    position: relative;
							    top: 2px;
							    opacity: 1;
							    left: 0;
							    transition: 0.3s all ease-out 0.15s;
								}
							}
						}
					}
				}
			}
		}
	}
}