.third-panel {
	color: $primaryColor;

	.logo-circle {
		stroke: #fff;
	}
	.logo-lines {
		stroke: #fff;
	}


	h2 {

		.logo {
			left: 0;
		}
	}

	.snippets {
		width: 100%;
		//max-width: 1000px;
		display: block;
    text-align: left;
    margin: 0 auto;
    font-size: 21px;
    color: #fff;

    @include mobile {
    	height: auto;
    	position: relative;
    	margin-bottom: 124px;
    	top: 0;
    	transform: translateY(0%);
    	font-size: 16px;
    } 

		ul {
			margin: 0 auto;
			padding: 0;
			display: block;
			width: 100%;

			li {
				display: inline-block;
				opacity: 1;
				visibility: visible;
				transition: 0.1s all ease-out 0s;
				width: 100%;
    		margin: 0 auto 12px;
				color: $blueThin;
				font-weight: bold;
				padding: 0px;
				vertical-align: middle;
				position: relative;
				overflow: hidden;
				-webkit-tap-highlight-color: transparent;
				@include hacks();
				font-size: 1em;
				text-transform: uppercase;
				float: left;
				@include box-sizing(border-box);

				@include mobile {
					width: 100%;
					transition: all 0s ease-out 0s;
					text-align: left;
				}

				.code-link {
					cursor: pointer;

					&:before {
						content: '';
				    background: url(../assets/images/portfolio/plus.svg);
				    width: 32px;
				    height: 32px;
				    display: inline-block;
				    background-size: 100%;
				    margin: 0px 6px 0 0;
				    position: relative;
				    top: 0px;
				    float: left;

				    @include mobile {
				    	width: 13px;
				    	height: 13px;
				    	top: 2px;
				    }
					}
				}

				.content {
					width: 100%;
			    height: 0px;
			    margin: 0 auto;
			    padding: 0px;
			    @include box-sizing(border-box);
			    cursor: default;
			    transition: 0.25s all ease-out;
			    margin-left: 28px;

			    @include mobile {
			    	margin-left: 21px;
			    }

			    &.show {
			    	height: 400px;
			    	padding: 0px 0px 20px;


			    	@include mobile {
			    		height: 250px;
			    	}

			    	p {
			    		margin: 5px 0 12px;
			    		transition: 0.1s all linear 0s;
			    	}
			    }

			    p {
			    	color: #fff;
			    	font-weight: normal;
			    	margin: 0;
			    	transition: 0.1s all linear 0.25s;

			    	@include mobile {
			    		transition: 0.1s all linear 0.18s;
			    	}
			    }
				}

				img {
					width: 100%;
					max-width: 600px;
					margin-bottom: 10px;
			    display: block;
				}
			}
		}
	}
}