.third-panel {
	color: $primaryColor;

	.logo-circle {
		stroke: #fff;
	}
	.logo-lines {
		stroke: #fff;
	}

	h2 {

		.logo {
			left: 0;
		}
	}

	.snippets {
		width: 100%;
		max-width: 600px;
		display: block;
    text-align: left;
    margin: 0 auto;
    font-size: 16px;
    color: #fff;

    @include mobile {
    	font-size: 13px;
    }

    h3 {
    	color: $blueThin;
    	text-transform: uppercase;
    	font-family: $font-light;
    	font-weight: bold;
    	font-size: 1em;
    	margin: 0 1% 5px;
    	
    	@include mobile {
    		text-align: center;
    		margin: 0 0 5px;
    		font-size: 1em;
    	}
    }

    @include mobile {
    	height: auto;
    	position: relative;
    	margin-bottom: 124px;
    	top: 0;
    	transform: translateY(0%);
    	font-size: 13px;
    } 

		ul {
			margin: 0 auto;
			padding: 0;
			display: block;
			width: 100%;

			.content {
				width: 100%;
		    display: none;
		    margin: 0 auto;
		    padding: 0 20px 20px;
		    @include box-sizing(border-box);
		    cursor: default;

		    &.show {
		    	display: inline-block;
		    }

		    p {
		    	color: #fff;
		    }
			}

			img {
					width: 100%;
			    display: block;
				}

			&:last-child {

				li {
					&:first-child {
						border-top-left-radius: 0px;
						border-bottom-left-radius: 10px;

						@include mobile {
							border-radius: 0;
						}
					}

					&:last-child {
						border-top-right-radius: 0px;
						border-bottom-right-radius: 10px;

						@include mobile {
							border-radius: 0;
						}
					}

				}
			}

			li {
				display: inline-block;
				opacity: 1;
				visibility: visible;
				transition: 0.1s all ease-out 0s;
				width: 98%;
    		margin: 0 1% 0;
				color: $blueThin;
				padding: 0 0px;
				vertical-align: middle;
				position: relative;
				overflow: hidden;
				-webkit-tap-highlight-color: transparent;
				@include hacks();
				font-size: 1em;
				text-transform: uppercase;
				float: left;

				&:before {
					content: '';
			    background: url(../assets/images/portfolio/plus.svg);
			    width: 13px;
			    height: 13px;
			    display: inline-block;
			    background-size: 100%;
			    margin: 0px 4px 0 0;
			    position: relative;
			    top: 2px;
				}

				&.show-li {
					opacity: 1;
					visibility: visible;
					top: 0;
					transition: 0.41s all ease-out 0s;
				}

				@include mobile {
					width: 100%;
					margin: 0 1px 2px;
					transition: all 0s ease-out 0s;
					text-align: left;
				}
		
				.inner-box {
					position: relative;
			    overflow: hidden;
			    width: 100%;
			    display: inline-block;
			    height:unquote("calc( #{$varH} - #{$space} )");
			    vertical-align: middle;
			    line-height:unquote("calc( #{$varH} - #{$space} )");
				}

				.initial {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					display: inline-block;
					transition: all 0s ease-out;
					transition-delay: 0.25s;
					@include hacks();
					transform: translateY(0px);
					opacity: 1;
					visibility: visible;
					transform: scale(1,1);
					user-select: none;

					@include mobile {
						transition: all 0s ease-out 0s;
					}

				}

				.reveal {
					position: absolute;
					top: -1px;
					left: 0;
					width: 100%;
					display: inline-block;
					transition: all 0s ease-out;
					transition-delay: 0.1s;
					@include hacks();
					transform: translateY(-12vh);
					visibility: hidden;
					opacity: 0;
					transform: scale(0,0);
					user-select: none;

					@include mobile {
						transition: all 0s ease-out 0s;
					}
				}

				&:hover {
					cursor: pointer;
					transition: all 0.1s ease-out 0; 


					.initial {
						top: 1px;
						transform: translateY(12vh);
						transition: all 0.25s ease-out;
						transition-delay: 0.1s;
						opacity: 0;
						visibility: hidden;
						transform: scale(0,0);
					}

					.reveal {
						transition: all 0.25s ease-out;
						transition-delay: 0.25s;
						top: 0;
						transform: translateY(0);
						visibility: visible;
						opacity: 1;
						transform: scale(1,1);
					}
				}

				&:first-child {
					border-top-left-radius: 10px;

					@include mobile {
						border-radius: 0;
					}
				}

				&:last-child {
					border-top-right-radius: 10px;

					@include mobile {
						border-radius: 0;
					}
				}
			}
		}
	}

	.work-exp {
		width: 100%;
		max-width: 1000px;
		display: inline-block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 100%;
    right: 0;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;

    &.slide-left {
    	left: 0%;
    }

    &.slide-right {
    	left: 100%;
    }

  }

}