.top-panel {
	top: 0;
	// background:  url(../assets/images/bg-image.png) 50% 100% no-repeat transparent;
	// background-size: cover;

	h1 {
		font-family: $font-light;
		font-size: 2em;
		margin: 0 auto;
		color: $highlightColor;
		width: 420px;
		position: relative;

		@include mobile {
  		line-height: 1em;
  		padding: 0px 0px 5px;
  		width: 250px;
		}
	}

	.name {
		opacity: 0;
		visibility: hidden;
		transition: all 0.25s ease-out 3.25s;
		margin-right: 5px;

		&.show {
			opacity: 1;
			visibility: visible;
			//display: inline-block;
		}

		@include mobile {
			transition: all 0.25s ease-out 3.25s;
		}
	}

	.title {
		font: 0.75em $font-extralight;
		margin: 0;
		opacity: 0;
		visibility: hidden;
		transition: all 0.35s ease-out 3.5s;
		right: -30px;
		position: relative;

		&.show {
			opacity: 1;
			visibility: visible;
			right: 0px;
			//display: inline-block;
		}

		@include mobile {
			transition: all 0.35s ease-out 3.5s;
		}
	}

	.tagline {
		font: 1em $font-light;
		margin: 0em auto;
		text-transform: uppercase;
		opacity: 0;
		visibility: hidden;
		transition: all 0.35s linear 3.8s;
		position: relative;
		overflow: hidden;
		width: 100%;
		left: -30px;

		&.show {
			opacity: 1;
			visibility: visible;
			left: 0;
			//display: inline-block;
		}

		@include mobile {
			margin: 0.5em auto;
			//width: 280px;
		}
	}

	.skills {
		padding: 40px 0;
		margin: 0 auto;
		display: block;
		opacity: 0;
		visibility: hidden;
		transition: all 0.25s linear 2s;
		position: relative;
		overflow: hidden;
		width: 100%;

		.to-reveal {
			bottom: -30px;
			transition: all 0.25s cubic-bezier(0.5, 1.75, 0.75, 1);
			position: relative;
			opacity: 0;

			&.show {
				bottom: 0;
				opacity: 1;
			}
		}
		

		&.show {
			opacity: 1;
			visibility: visible;
			//display: inline-block;
		}
	}

	// .overlay-filter {
	// 	position: absolute;
	// 	top: 0;
	// 	right: 0;
	// 	bottom: 0;
	// 	width: 100%;
	// 	animation: showHide 0.5s forwards 4.5s;
	// 	background:  url(../assets/images/bg-image.png) 50% 60% no-repeat transparent;
	// }
}

@keyframes showHide {
  0% {
  	width:100%
  }

  100% {
  	width:0%;
  }
}