.top-panel {

	h1 {
		font-family: $font-light;
		font-size: 2em;
		margin: 0 auto 4px;
		color: $blueThin;
		width: 100%;
		position: relative;

		@include mobile {
  		line-height: 24px;
  		padding: 0px 0px 5px;
  		width: 280px;
		}
	}

	.name {
		opacity: 0;
		visibility: hidden;
		@include prefixed(transition, all 0.25s ease-out 2.25s);
		margin-right: 6px;
		@include hacks();

		&.show {
			opacity: 1;
			visibility: visible;
		}

		@include mobile {
			@include prefixed(transition, all 0.25s ease-out 2.25s);
		}
	}

	.title {
		font: 0.75em $font-extralight;
		margin: 0;
		opacity: 0;
		visibility: hidden;
		@include prefixed(transition, all 0.35s ease-out 2.4s);
		@include hacks();
		right: -30px;
		top: 4px;
		position: relative;
		color: $blueThin;
		font-weight: bold;

		&.show {
			opacity: 1;
			visibility: visible;
			right: 0px;
		}

		@include mobile {
			@include prefixed(transition, all 0.35s ease-out 2.4s);
		}
	}

	.tagline {
		font: 1em $font-light;
		font-weight: bold;
		margin: 0em auto;
		text-transform: uppercase;
		opacity: 0;
		visibility: hidden;
		@include prefixed(transition, all 0.35s linear 2.6s);
		position: relative;
		overflow: hidden;
		width: 100%;
		left: -30px;
		@include hacks();
		

		&.show {
			opacity: 1;
			visibility: visible;
			left: 0;
		}

		@include mobile {
			margin: 0.5em auto;
		}
	}

	.skills {
		padding: 60px 0 0;
		margin: 0 auto;
		display: block;
		opacity: 0;
		//visibility: hidden;
		@include prefixed(transition, all 0.25s linear 0s);
		position: relative;
		overflow: hidden;
		@include hacks();
		width: 100%;

		@include mobile {
			padding: 40px 0 0;
		}
		

		.to-reveal {
			bottom: -35px;
			@include prefixed(transition, all 0.15s ease-out);
			@include hacks();
			position: relative;
			opacity: 0;
			color: #fff;

			&.pipe {
				top: 15px;
				bottom: 0;
				//color: #fff;
			}

			&.show {
				bottom: 0;
				opacity: 1;

				&.pipe {
					top: -1px;
					bottom: 0;
				}
			}
		}
		

		&.show {
			opacity: 1;
			//visibility: visible;
		}
	}
}

@keyframes showHide {
  0% {
  	width:100%
  }

  100% {
  	width:0%;
  }
}