<div class="container" ng-init="portfolio.setUpPage()">
  <div class="panel">
    <section class="top-panel sliding-panel">
      <div class="header">
        <div class="who" ng-class="{'load-content': portfolio.loadMainContent}">
          <h1><span class="logo" ng-include="'assets/images/portfolio/logoalt.svg'"></span>SCOTT MURPHY <span class="title">WEB DEVELOPER</span></h1>
  	      
  	      <p class="tagline">Front-End and User Interface Design Execution Specialist</p>
  	    </div>
      </div>
      <p continue-button class="enter" ng-class="{'load-icon': portfolio.loadMainContent}">
        <span class="text">Continue</span><br />
        <span class="icon" ng-include="'assets/images/portfolio/enter.svg'"></span>
      </p>
    </section>

    <section class="second-panel sliding-panel" show-on-scroll>
      <div class="panel-wrapper">
        <h2 class="category-title" ng-click="portfolio.reloadPage()"><span class="logo" ng-include="'assets/images/portfolio/logoalt.svg'"></span>About Scott</h2>
        <div class="bios">
          <ul>
            <li>
              <div class="inner-box">
                <div class="initial">Hometown</div>
                <div class="reveal">Richmond, VA</div>
              </div>
            </li>
            <li>
              <div class="inner-box">
                <div class="initial">Education</div>
                <div class="reveal">Appalachain State</div>
              </div>
            </li>
            <li>
              <div class="inner-box">
                <div class="initial">Experience</div>
                <div class="reveal">7 years+</div>
              </div>
            </li>
            <li>
              <div class="inner-box">
                <div class="initial">Work Style</div>
                <div class="reveal">Gets Hands Dirty</div>
              </div>
            </li>
          </ul>
          <ul>
            <li>
              <div class="inner-box">
                <div class="initial">Preferred Code Lang</div>
                <div class="reveal">SASS</div>
              </div>
            </li>
            <li>
              <div class="inner-box">
                <div class="initial">Fav Quote</div>
                <div class="reveal">"Strength lies within..."</div>
              </div>
            </li>
            <li>
              <div class="inner-box">
                <div class="initial">Nickname</div>
                <div class="reveal">Murph</div>
              </div>
            </li>
            <li>
              <div class="inner-box">
                <div class="initial">Hobbies</div>
                <div class="reveal">Music, Golf</div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <p continue-button class="enter">
        <span class="text">Skillset</span><br />
        <span class="icon" ng-include="'assets/images/portfolio/enter.svg'"></span>
      </p>
    </section>

    <section class="third-panel sliding-panel" show-on-scroll>
      <div class="panel-wrapper">
        <h2 class="category-title" ng-click="portfolio.reloadPage()"><span class="logo" ng-include="'assets/images/portfolio/logoalt.svg'"></span>Skillset</h2>
        <div class="what-is-front-end-development">
          <h3>What is Front End Development?</h3>
          <p class="definition">"The practice of producing HTML, CSS and Javascript for a website or web application so that a user can see and interact with them directly..." ~ Wikipedia</p>
          <p class="definition">"...but its so much more." ~Scott</p>
          <p class="definition">Listed below are the skills I use to get the job done!</p>
          <ul>
            <li>
              <div class="skill">HTML/CSS/Javascript</div>
            </li>
            <li>
              <div class="skill">Responsive Web Design</div>
            </li>
            <li>
              <div class="skill">CSS Frameworks</div>
            </li>
            <li>
              <div class="skill">Javascript Frameworks</div>
            </li>
          </ul>
          <ul>
            <li>
              <div class="skill">Building &amp; Automation Tools</div>
            </li>
            <li>
              <div class="skill">Performance &amp; Testing</div>
            </li>
            <li>
              <div class="skill">Version Control</div>
            </li>
            <li>
              <div class="skill">UI and Visual Design</div>
            </li>
          </ul>
        </div>
      </div>
      <p continue-button class="enter">
        <span class="text">Continue</span><br />
        <span class="icon" ng-include="'assets/images/portfolio/enter.svg'"></span>
      </p>
    </section>
    <div class="bg-image" ng-class="{'load-image': portfolio.loadMainContent}"></div>
  </div>
</div>
