/*portfolio*/

.container {
	position: relative;
}

.nav-container {
	position: fixed;
	top: 10px;
	right: 10px;
	display: block;
	color: #fff;

	span {
		font-size: 35px;
		width: 35px;
		height: 35px;
		display: inline-block;
		font-family: "source sans pro extralight";
	}

	ul {
		display: none;
	}
}

.panel {
	height: 100vh;
	width: 100%;
	overflow: hidden;
	display: block;
	padding: 0 20px;
	background-color: $primaryColor;

	@include mobile {
		padding: 0;
	}
}

.bg-image {
	background: url(../assets/images/me.png) 50% 100% no-repeat transparent;
	background-size: 75%;
	@include hacks();
	height: 100vh;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	position: fixed;
	overflow: hidden;
	top: 100vh;
	left: 0;
	right:0;
	margin: 0 auto;
	transition: transform .3s cubic-bezier(0.25, 1.1, .75, 1), top .3s ease-out .05s;
	transform: scale(0,0);

	&.load-image {
		transform: scale(1,1);
		top: 0;
	}

	@include mobile {
		background: url(../assets/images/me.png) 50% 100% no-repeat transparent;
		background-size: 100%;
	}
}

.top-panel {
	position: absolute;
	height: 100vh;
	width: 100%;
	color: #fff;
	z-index: 1;
	transition: all 0.35s ease-out;
	transition-delay: .5s;
	top: 0;
	left: 0;
	overflow: hidden;

	&.hide {
		top: -100vh;
	}

	&.show {
		top: 0vh;
	}


	.header {
		width: 100%;
		height: auto;
		max-width: 900px;
		display: inline-block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    font-size: 12px;
    overflow: hidden;
    padding-top: 0px;
	}

	.who {
		position: relative;
		transform: scale(0,0);
		
		

		&.load-content {
			transform: scale(1,1);
			transition: all 0.4s cubic-bezier(0.25,1.6,.75,1);
			transition-delay: 1s; 
		}

		h1 {
			font-size: 2.25em;
			margin: 0;
		}

		.title {
			font-size: 0.75em;
			font-family: 'Source Sans Pro ExtraLight', sans-serif;
			margin: 0;
			display: inline-block;
		}

		.tagline {
			font-size: 1.2em;
			margin: 0.6em auto;
			font-family: 'Source Sans Pro Light', sans-serif;
		}
	}

}

.enter {
	width: 100px;
	position: absolute;
	z-index: 2;
	left: 0;
	right: 0;
	margin: 0 auto;
	cursor: pointer;
	bottom: 15px;
	text-align: center;
	visibility: hidden;
	opacity: 0;
	transform: scale(0,0);

	&.load-icon {
		visibility: visible;
		opacity: 1;
		transform: scale(1,1);
		transition: .4s all cubic-bezier(.25,1.5,.5, 1) 1.8s;
	}

	&:hover {

		span.text {
			visibility: visible;
			opacity: 1;
		}

		span.icon {
			animation: none;
		}
	}

	span.text {
		color: #fff;	
		text-align: center;
		font-size: 1.1em;
		transition: all .25s ease-out;
		visibility: none;
		opacity: 0;
	}	

	span.icon {
		width: 32px;
		height: 32px;
		display: inline-block;
		margin-top: 10px;
		transform:translateY(0px);
		animation: bounce 3s infinite;
		@include hacks();

		
	}

	&.next1 {
		bottom: -200px;
		visibility: visible;
		opacity: 1;
		transform: scale(1,1);
		transition: bottom .4s ease-out;
	}

	&.next2 {
		bottom: -200px;
		visibility: visible;
		opacity: 1;
		transform: scale(1,1);
		transition: bottom .4s ease-out;
	}

	&.next3 {
		bottom: -200px;
		visibility: visible;
		opacity: 1;
		transform: scale(1,1);
		transition: bottom .4s ease-out;
	}
}

.category-title {
	color: #fff;
  padding: 0;
  position: relative;
  display: block;
  line-height: 20vh;
  width: 224px;
  margin: 0 auto;
  height: 20vh;
	
	span.logo {
		width: 35px;
    float: left;
    top: 10px;	
	}
}

.second-panel {
	// background: url('../assets/images/portfolio/cityscape.png') no-repeat;
	// background-size: cover;
	height: 100vh;
	width: 100%;
	position: absolute;
	top: 100vh;
	left: 0;
	transition: all 0.35s ease-out;
	transition-delay: 0.5s;
	z-index: 1;
	overflow: hidden;

	&.hide {
		top: -100vh;
	}

	&.show {
		top: 0vh;
	}

	.category-title {
		width: 164px;
	}

	.bios {
		width: 100%;
		max-width: 1000px;
		display: inline-block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;

    &.slide-left {
    	left: -100%;
    }

    &.slide-right {
    	left: 0;
    }

    @include mobile {
    	height: 100%;
    	position: relative;
    }

    

		ul {
			margin: 0 auto;
			padding: 0;
			display: block;
			width: 100%;

			li {
				display: inline-block;
				height: 24vh;
				float: left;
				background: rgba(0,90,120, 0.925);
				transition: all 0.3s ease-out .2s;
				width: 23.875%;
    		margin: 0 0.75% 15px;
				color: #fff;
				padding: 0 0px;
				vertical-align: middle;
				line-height: 24vh;
				position: relative;
				overflow: hidden;
				border-radius: 8px;

				@include mobile {
					width: 100%;
				}

				.initial {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					display: inline-block;
					transition: all 0.1s ease-out;
					transition-delay: 0.2s;
					@include hacks();
					transform: translateY(0px);
  				//transform: translateZ(24vh);

				}

				.reveal {
					position: absolute;
					top: 12vh;
					left: 0;
					width: 100%;
					display: inline-block;
					//background: rgba(0,90,120, 0.95);
					transition: all 0.1s ease-in;
					transition-delay: 0.1s;
					@include hacks();
					transform: translateY(12vh);
					visibility: hidden;
					opacity: 0;
				}

				&:hover {
					background: rgba(0,90,120, 0.75);
					transition: all 0.3s ease-in 0;

					.initial {
						top: -12vh;
						transform: translateY(-12vh);
						transition: all 0.25s ease-out;
						transition-delay: 0s;
					}

					.reveal {
						transition: all 0.25s ease-out;
						transition-delay: 0.1s;
						top: 0;
						transform: translateY(0);
						visibility: visible;
						opacity: 1;
					}
				}

				&:first-child {
					margin-left: 0;
				}

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}

	.work-exp {
		width: 100%;
		max-width: 1000px;
		display: inline-block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 100%;
    right: 0;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;

    &.slide-left {
    	left: 0%;
    }

    &.slide-right {
    	left: 100%;
    }

  }

}

.third-panel {
	// background: url('../assets/images/portfolio/cityscape.png') no-repeat;
	// background-size: cover;
	height: 100vh;
	width: 100%;
	position: absolute;
	top: 100vh;
	left: 0;
	transition: all 0.35s ease-out;
	transition-delay: 0.5s;
	z-index: 1;
	overflow: hidden;

	&.hide {
		top: -100vh;
	}

	&.show {
		top: 0vh;
	}

	.skills {
		width: 100%;
		max-width: 900px;
		display: inline-block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;

    @include mobile {
    	height: 100%;
    	position: relative;
    }

    .category-title {
			color: #fff;
	    padding: 0;
	    position: relative;
	    display: block;
	    line-height: 55px;
	    width: 224px;
	    margin: 0 auto;
	    height: 84px;
			
			span.logo {
				width: 35px;
		    float: left;
		    top: 10px;	
			}
		}

		ul {
			margin: 0 auto;
			padding: 0;
			display: block;
			width: 100%;

			li {
				display: inline-block;
				height: 24vh;
				float: left;
				background: rgba(0,90,120, 0.85);
				width: 25%;
    		margin: 0%;
				color: #fff;
				padding: 0 3px;
				vertical-align: middle;
				line-height: 24vh;
				position: relative;

				@include mobile {
					width: 100%;
				}

				.initial {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					display: inline-block;
					overflow: hidden;
					transition: all 0.4s ease-out;
					transition-delay: 0.1s;
					@include hacks();
					transform: translateY(0px);
  				//transform: translateZ(24vh);

				}

				.reveal {
					position: absolute;
					top: 75px;
					left: 0;
					width: 100%;
					display: inline-block;
					//background: rgba(0,90,120, 0.95);
					transition: all 0.4s ease-out;
					transition-delay: 0s;
					@include hacks();
					transform: translateY(75px);
					visibility: hidden;
					opacity: 0;
				}

				&:hover {

					.initial {
						top: -30px;
						transform: translateY(-30px);
						transition: all 0.4s ease-out;
						transition-delay: 0s;
					}

					.reveal {
						transition: all 0.4s ease-out;
						transition-delay: 0.1s;
						top: 30px;
						transform: translateY(30px);
						visibility: visible;
						opacity: 1;
					}
				}

				&:first-child {
					margin-left: 0;
				}

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}

}

span.logo {
			display: inline-block;
	    width: 45px;
	    position: relative;
	    top: 10px;
	    margin-right: 8px;

	    @include mobile {
	    	top: 6px;
	    	width: 30px;
	    }
		}

		.logo-circle{
		fill:none;
		stroke:#FFFFFF;
		stroke-width:1.5;stroke-linecap:round;stroke-miterlimit:10;}

	.logo-lines{fill:none;stroke:#FFFFFF;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

@media only screen and (min-width: 768px)  {
	.top-panel {
		.header {
			font-size: 16px;
		}
	}
}

@keyframes bounce {
	20% {
  	transform:translateY(0px);
  }
  25% {
  	transform:translateY(-15px);
  }
  30% {
  	transform:translateY(-2px);
  }
  35% {
  	transform:translateY(-12px);
  }
  40% {
  	transform:translateY(-2px);
  }
  45% {
  	transform:translateY(-8px);
  }
  55% {
  	transform:translateY(0px);
  }
}